<div>

    <body background="calculadoraFondo.jpg">
        <br>
        <h1>CALCULADORA</h1>
        <hr>
    </body>
</div>

<div id="calculadora">
    <input type="text" [(ngModel)]="valorDeEntrada">
    <br><br>
    
    <p-button label="7" (click)="agregarNumero('7')"
        styleClass="p-button-rounded p-button-warning p-button-outlined"></p-button>
    <p-button label="8" (click)="agregarNumero('8')"
        styleClass="p-button-rounded p-button-warning p-button-outlined"></p-button>
    <p-button label="9" (click)="agregarNumero('9')"
        styleClass="p-button-rounded p-button-warning p-button-outlined"></p-button>
    <p-button label="/" (click)="operacion('/')" styleClass="p-button-rounded p-button-warning"></p-button>
    <br><br>

    <p-button label="4" (click)="agregarNumero('4')"
        styleClass="p-button-rounded p-button-warning p-button-outlined"></p-button>
    <p-button label="5" (click)="agregarNumero('5')"
        styleClass="p-button-rounded p-button-warning p-button-outlined"></p-button>
    <p-button label="6" (click)="agregarNumero('6')"
        styleClass="p-button-rounded p-button-warning p-button-outlined"></p-button>
    <p-button label="*" (click)="operacion('*')" styleClass="p-button-rounded p-button-warning"></p-button>
    <br><br>

    <p-button label="1" (click)="agregarNumero('1')"
        styleClass="p-button-rounded p-button-warning p-button-outlined"></p-button>
    <p-button label="2" (click)="agregarNumero('2')"
        styleClass="p-button-rounded p-button-warning p-button-outlined"></p-button>
    <p-button label="3" (click)="agregarNumero('3')"
        styleClass="p-button-rounded p-button-warning p-button-outlined"></p-button>
    <p-button label="-" (click)="operacion('-')" styleClass="p-button-rounded p-button-warning"></p-button>
    <br><br>

    <p-button label="0" (click)="agregarNumero('0')"
        styleClass="p-button-rounded p-button-warning p-button-outlined"></p-button>
    <p-button label="." (click)="agregarDecimal()"
        styleClass="p-button-rounded p-button-warning p-button-outlined"></p-button>
    <p-button label="=" (click)="calcular()" styleClass="p-button-rounded p-button-warning"></p-button>
    <p-button label="+" (click)="operacion('+')" styleClass="p-button-rounded p-button-warning"></p-button>
    <br><br>

    <p-button label="C" (click)="limpiar()" styleClass="p-button-rounded p-button-secondary"></p-button>
    <p-button label="CE" (click)="borrarUltimo()" styleClass="p-button-rounded p-button-secondary"></p-button>



</div>