<app-menu></app-menu>

<router-outlet></router-outlet>













<!-- 
<div class="text-layout">
    <h1>{{ nombre | uppercase}}</h1>
    <h1>{{ numero | number}}</h1>
</div>

<button pButton (click)="mostrarNombre()" label="Cambiar" icon="pi pi-check" iconPos="right"
    class="p-button-rounded p-button-warning"></button>

<p-card header="Simple Card" [subheader]="nombre | titlecase">
    Contenido dentro de la tarjeta.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
    deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
    quas!
</p-card>
-->